.container {
    margin: 0 auto;
    max-width: 450px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #ffffff;
    user-select: none;
    position: relative;
    border-radius: 27px;
}
.main.container {
    min-height:327px;
}

.header-message {
    text-align: center;
    background: gainsboro;
    color: gray;
    margin-bottom: 7px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 4px;
    border-radius: 5px;
}
.firmware-message {
    text-align:center;
    font-weight:bold;
    position:relative;
    margin-top:-14px;
    font-size:8pt;
}
.inst-overlay {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    position: absolute;
    border-radius: 27px;
    background: gray;
    opacity: .9;
    padding: 10px;
    font-size: 20px;
    height: auto;
    min-height: 100%;
    top: 0px;
    left: 0px;
    color: white;
}
#divLinkRepeat {
    border-radius:24px;
}
.edit-repeaterlist,
.edit-roomlist,
.edit-grouplist,
.edit-motorlist {
    overflow-y: auto;
    max-height: 400px;
    padding-top: 2px;
    padding-bottom: 2px;
    min-height: 147px;
}
.info-message .info-text {
    text-align:left;
    font-size:14px;
    max-height:calc(100% - 77px);
    overflow:auto;
}
.instructions .sub-message,
.prompt-message .sub-message {
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
}
.prompt-message .prompt-text {
    text-align:center;
}
.promp-message > .inner-error,
.error-message > .inner-error {
    width:100%;
}

.wizard[data-stepid="1"] .wizard-step:not([data-stepid="1"]) { display: none; }
.wizard[data-stepid="2"] .wizard-step:not([data-stepid="2"]) { display: none; }
.wizard[data-stepid="3"] .wizard-step:not([data-stepid="3"]) { display: none; }
.wizard[data-stepid="4"] .wizard-step:not([data-stepid="4"]) { display: none; }
.wizard[data-stepid="5"] .wizard-step:not([data-stepid="5"]) { display: none; }
.wizard[data-stepid="6"] .wizard-step:not([data-stepid="6"]) { display: none; }
.wizard[data-stepid="7"] .wizard-step:not([data-stepid="7"]) { display: none; }

.somfyRepeater,
.somfyRoom,
.somfyGroup,
.somfyShade {
    text-align: center;
    padding-bottom: 4px;
    display: inline-table;
    padding-left: 4px;
    padding-right: 4px;
}
    .linked-shade > div,
    .linked-shade > span,
    .somfyRepeater > div,
    .somfyRepeater > span,
    .somfyRoom > div,
    .somfyRoom > span,
    .somfyGroup > div,
    .somfyGroup > span,
    .somfyShade > div,
    .somfyShade > span {
        display: table-cell;
        padding-left: 4px;
        padding-right: 4px;
    }
.repeater-name,
.linked-shade {
    width: 100%;
    padding-bottom: 4px;
    display: inline-table;
    padding-left: 4px;
    padding-right: 4px;
}
.repeater-name {
    text-align:left;
}
    .linked-shade > .linkedshade-name { width: 100%; }
.pin-digit {
    margin: 0 0.3rem;
    padding: 0.5rem;
    border: 1px solid #00bcd4;
    border-radius:5px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 3rem;
}
.login-content {
    display: block;
    padding: 25px;
    position: relative;
}
#divSomfyButtons div.button-outline {
    margin-top: -10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 7px;
    cursor: pointer;
    vertical-align: middle;
}
.shadectl-buttons div.button-outline {
    display: inline-block;
}
.shadectl-buttons[data-shadetype="14"] > .cmd-button[data-cmd="sunflag"],
.shadectl-buttons[data-shadetype="15"] > .cmd-button[data-cmd="sunflag"],
.shadectl-buttons[data-shadetype="16"] > .cmd-button[data-cmd="sunflag"],
.shadectl-buttons[data-shadetype="6"] > .cmd-button[data-cmd="sunflag"],
.shadectl-buttons[data-shadetype="5"] > .cmd-button[data-cmd="sunflag"],
.shadectl-buttons[data-shadetype="9"] > .cmd-button[data-cmd="sunflag"],
.shadectl-buttons[data-shadetype="9"] > .button-outline[data-cmd="my"],
.shadectl-buttons[data-shadetype="9"] > .button-outline[data-cmd="up"],
.shadectl-buttons[data-shadetype="9"] > .button-outline[data-cmd="down"],
.shadectl-buttons[data-shadetype="5"] > .button-outline[data-cmd="my"],
.shadectl-buttons[data-shadetype="5"] > .button-outline[data-cmd="up"],
.shadectl-buttons[data-shadetype="5"] > .button-outline[data-cmd="down"],
.shadectl-buttons[data-shadetype="14"] > .button-outline[data-cmd="my"],
.shadectl-buttons[data-shadetype="14"] > .button-outline[data-cmd="up"],
.shadectl-buttons[data-shadetype="14"] > .button-outline[data-cmd="down"],
.shadectl-buttons[data-shadetype="15"] > .button-outline[data-cmd="my"],
.shadectl-buttons[data-shadetype="15"] > .button-outline[data-cmd="up"],
.shadectl-buttons[data-shadetype="15"] > .button-outline[data-cmd="down"],
.shadectl-buttons[data-shadetype="16"] > .button-outline[data-cmd="my"],
.shadectl-buttons[data-shadetype="16"] > .button-outline[data-cmd="up"],
.shadectl-buttons[data-shadetype="16"] > .button-outline[data-cmd="down"],
.shadectl-buttons[data-shadetype="10"] > .button-outline[data-cmd="my"] {
    display: none;
}

.shadectl-buttons[data-shadetype="10"] > .button-outline[data-cmd="up"],
.shadectl-buttons[data-shadetype="10"] > .button-outline[data-cmd="down"] {
    width: 3em;
    border-radius: 30%;
    text-align: center;
    height:2.4em;
}
.shadectl-buttons[data-shadetype="10"] > .button-outline[data-cmd="up"] i,
.shadectl-buttons[data-shadetype="10"] > .button-outline[data-cmd="down"] i {
    top:.3em;
}
.shadectl-buttons:not([data-shadetype="5"]):not([data-shadetype="9"]):not([data-shadetype="14"]):not([data-shadetype="15"]):not([data-shadetype="16"]) > .button-outline[data-cmd="toggle"] {
    display: none;
}
.somfyShadeCtl[data-shadetype="5"] .shadectl-mypos,
.somfyShadeCtl[data-shadetype="14"] .shadectl-mypos,
.somfyShadeCtl[data-shadetype="15"] .shadectl-mypos,
.somfyShadeCtl[data-shadetype="16"] .shadectl-mypos,
.somfyShadeCtl[data-shadetype="9"] .shadectl-mypos,
.somfyShadeCtl[data-tilt="3"] .shadectl-mypos .my-pos,
.somfyShadeCtl:not([data-shadetype="1"]) .shadectl-mypos .my-pos-tilt,
.somfyShadeCtl[data-tilt="0"] .shadectl-mypos .my-pos-tilt {
    display: none;
}
.somfyShadeCtl:not([data-shadetype="1"][data-tilt="3"]) .shadectl-mypos label.my-pos:after {
    content: "My:"
}
.somfyShadeCtl[data-shadetype="1"][data-tilt="3"] .shadectl-mypos label.my-pos,
.somfyShadeCtl[data-shadetype="10"] .shadectl-mypos {
    display: none;
}

.somfyShadeCtl[data-shadetype="1"][data-tilt="3"] .shadectl-mypos label.my-pos-tilt:after {
    content:"My Tilt:";
}
.somfyShadeCtl:not([data-shadetype="1"][data-tilt="3"]) .shadectl-mypos label.my-pos-tilt:after {
    content:"Tilt:";
}
.somfyShadeCtl .shadectl-mypos span.my-pos {
    margin-right:14px;
}

#somfyShade #divGPIOControl {
    display: none;
}
#somfyShade #divShadeBitLength {
    display:inline-block;
}
#somfyShade[data-proto="8"] #divGPIOControl,
#somfyShade[data-proto="9"] #divGPIOControl {
    display: inline-block;
    width: auto;
    margin-top: -18px;
}
#somfyShade[data-proto="8"] #divShadeBitLength,
#somfyShade[data-proto="9"] #divShadeBitLength {
    display: none;
}
#divGPIOControl {
    text-align:center;
    margin-left:7px;
}
    #divGPIOControl > div.field-group {
        width: 70px;
        display: inline-block;
    }
#somfyShade #divLLTrigger {
    display:none;
}

#somfyShade[data-proto="8"] #divLLTrigger,
#somfyShade[data-proto="9"] #divLLTrigger {
    display: block;
}
#somfyShade[data-proto="8"] #divStepSettings,
#somfyShade[data-proto="9"] #divStepSettings,
#somfyShade[data-proto="8"] #divGPIOMy,
#somfyShade[data-bitlength="56"] #divStepSettings,
#somfyShade[data-shadetype="5"] #divStepSettings,
#somfyShade[data-shadetype="14"] #divStepSettings,
#somfyShade[data-shadetype="15"] #divStepSettings,
#somfyShade[data-shadetype="16"] #divStepSettings,
#somfyShade[data-shadetype="6"] #divStepSettings {
    display: none;
}
#somfyShade[data-proto="9"][data-shadetype="5"] #divGPIOUp,
#somfyShade[data-proto="9"][data-shadetype="5"] #divGPIOMy,
#somfyShade[data-proto="8"][data-shadetype="5"] #divGPIOMy,
#somfyShade[data-proto="9"][data-shadetype="14"] #divGPIOUp,
#somfyShade[data-proto="9"][data-shadetype="14"] #divGPIOMy,
#somfyShade[data-proto="8"][data-shadetype="14"] #divGPIOMy,
#somfyShade[data-proto="9"][data-shadetype="15"] #divGPIOUp,
#somfyShade[data-proto="9"][data-shadetype="15"] #divGPIOMy,
#somfyShade[data-proto="8"][data-shadetype="15"] #divGPIOMy,
#somfyShade[data-proto="9"][data-shadetype="16"] #divGPIOUp,
#somfyShade[data-proto="9"][data-shadetype="16"] #divGPIOMy,
#somfyShade[data-proto="8"][data-shadetype="16"] #divGPIOMy,
#somfyShade[data-proto="9"][data-shadetype="9"] #divGPIOUp,
#somfyShade[data-proto="9"][data-shadetype="9"] #divGPIOMy,
#somfyShade[data-proto="8"][data-shadetype="9"] #divGPIOUp {
    display: none;
}
.room-draggable,
.group-draggable,
.shade-draggable {
    height: 32px;
    border-top: solid 2px transparent;
    cursor: grab;
}
    .room-draggable.dragging *,
    .room-draggable.over *,
    .group-draggable.dragging *,
    .group-draggable.over *,
    .shade-draggable.dragging *,
    .shade-draggable.over * {
        pointer-events: none;
    }
.room-draggable.over,
.group-draggable.over,
.shade-draggable.over {
    border-top: solid 2px var(--shade-color, '#00bcd4');
}
.room-selector {
    display: flex;
    flex-flow: column;
    font-size: 30px;
    margin-top: -10px;
    color: var(--shade-color, gray);
    font-weight:bold;
    text-shadow:1px 1px 1px silver;
    justify-content:center;
    flex-wrap:nowrap;
    flex-direction:row;
    align-items:center;
    
}
    .room-selector > i {
        font-size: 20px;
        cursor: pointer;
    }
    .room-selector > span {
        margin-left: .15em;
        cursor: pointer;
    }
.room-selector-list {
    position: absolute;
    min-width: 50%;
    font-size: 1.37rem;
    border: solid 1px gray;
    box-shadow: 4px 4px 4px gray;
    border-radius: 3px;
    padding-left: 1rem;
    padding-right:1rem;
    background:white;
    z-index:1000;
    display:none;
    cursor:pointer;
    top:3px;
}
    .room-selector-list .room-row {
        cursor: pointer;
        color: gray;
        text-shadow:none;
    }
        .room-selector-list .room-row:hover {
            color: var(--shade-color, gray);
        }
span.tabname-virtual-remote:after {
    content: "Virtual Remote";
}

@media only screen and (max-device-width: 480px) {
    body {
        margin-top: 0px;
    }

    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    span.tabname-virtual-remote:after {
        content: "Remote";
    }
}
